<div class="col-md-10 order-md-1 mt-5">
  <h4 class="mb-3">{{title}}</h4>
  <form class="needs-validation" [formGroup]="myForm">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">Name </label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name" required>
        <div class="required-field" *ngIf="myForm.get('name').touched && myForm.get('name').invalid">
          Valid first name is required.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="mt-4">
          <label for="lastName">Area</label>
          <div class="btn-group col-md-8" role="group">
            <button type="button" (change)="validateTips()" (click)="isServices = true" disabled="{{readOnly}}" [ngClass]="{'focused-btn': isServices}" class="btn btn-secondary">Services</button>
            <button type="button" (change)="validateTips()" (click)="isServices = false" disabled="{{readOnly}}" [ngClass]="{'focused-btn': !isServices}" class="btn btn-secondary">Kitchen</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">Dob  </label>
        <input type="date" class="form-control" id="dob" formControlName="dob" max="{{maxDate}}" required>
        <div class="required-field" *ngIf="myForm.get('dob').touched && myForm.get('dob').invalid">
          Valid date of birth is required.
        </div>
        <div class="required-field" *ngIf="myForm.get('dob').touched && myForm.errors != null && !myForm.errors.validAge">
          You need to be 18 years old.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">Job Title</label>
        <dropdown name="jobTitle" formControlName="jobTitle" [c]="myForm.controls.jobTitle" [disable]="readOnly" [controlName]="'jobTitle'" (change)="validateTips()" [area]="isServices"></dropdown>
        
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">Country  </label>
        <select class="custom-select d-block w-100" formControlName="country" id="country">
          <option *ngFor="let option of countries" value="{{option}}">{{option}}</option>
        </select>
        <div class="required-field" *ngIf="myForm.get('country').touched && myForm.get('country').invalid">
          Valid country is required.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="username">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username" required>
          <div class="required-field" style="width: 100%;" *ngIf="myForm.get('username').touched && myForm.get('username').errors != null && myForm.get('username').errors.required">
            Your username is required.
          </div>
          <div class="required-field" style="width: 100%;" *ngIf="myForm.get('username').touched && myForm.get('username').errors != null && myForm.get('username').errors.pattern != null">
            Special characters are not allowed.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">Hire Date </label>
        <input type="date" class="form-control" id="hireDate" formControlName="hireDate" required>
        <div class="required-field" *ngIf="myForm.get('hireDate').touched && myForm.get('hireDate').invalid">
          Valid hire date is required.
        </div>
      </div>
      <div class="col-md-6 mb-3" *ngIf="hasTips">
        <label for="lastName">Tip Rate</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">%</span>
          </div>
          <input type="number" class="form-control" id="tipRate" max="100" min="0" formControlName="tipRate" required>
          <div class="required-field" style="width: 100%;" *ngIf="myForm.get('tipRate').touched && myForm.get('tipRate').invalid">
            Your tip rate is required.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" formControlName="status" id="status">
          <label class="custom-control-label" for="status">Status</label>
        </div>
      </div>
      <div class="col-md-6 mb-3">

      </div>
    </div>
    <hr class="mb-4">
    <div class="row">
      <div class="col-md-3 mb-3">
        <a role="button" href="#" class="btn btn-light btn-centered mr-3"><i class="material-icons">arrow_back_ios</i> Back</a>

        <button class="btn btn-primary btn-centered" type="submit" (click)="addEmployee()" [disabled]="myForm.invalid">Save <i class="material-icons">save</i></button>
      </div>
    </div>
</form>
</div>
