<div class="col-md-6 mb-3 mt-4 mb-4">
  <div class="input-group">
    <label for="firstName" class="mr-3">Employees  </label>
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="material-icons">search</i>
      </span>
    </div>
    <input type="text" class="form-control" id="name" [(ngModel)]="searchText" placeholder="Name" required>
  </div>
</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Username</th>
        <th scope="col">Hire Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees | employeefilter: searchText">
        <th scope="row">{{employee.name}}</th>
        <td>{{employee.age}}</td>
        <td>{{employee.username}}</td>
        <td>{{employee.hireDate}}</td>
        <td>
          <a role="button" href="#/Edit/{{employee.id}}"><i class="material-icons" title="Edit">edit</i></a>
          <a role="button" href="#/View/{{employee.id}}"><i class="material-icons" title="View">remove_red_eye</i></a>
          <a role="button" href="#" (click)="deleteEmployee(employee.id)"><i class="material-icons" title="Delete">delete_outline</i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="clearfix">&nbsp;</div>
  <a role="button" href="#/New" class="btn btn-primary btn-centered"><i class="material-icons">add</i> add new employee</a>
